* {
    margin: 0;
    max-width: 1400px;
}
body {
    font-family: 'Raleway';
}
    
header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.logo-booki {
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav li {
    display: inline;
    padding-left: 60px;
}
    
nav li :hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 28px;
}

.titre {
    background-color: greenyellow;
}

h1 {
    font-weight: 700;
    font-size: 22px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

main {
    padding: 50px;
}

@media screen and (max-width: 768px) {
    nav li :hover {
        border-bottom: 2px #0065fc solid;
        padding-bottom: 28px;
        border-top: none;
    }
}