* {
    margin: 0;
    max-width: 1400px;
}
body {
    font-family: 'Raleway';
}
    
header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.logo-booki {
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav li {
    display: inline;
    padding-left: 60px;
}
    
nav li :hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 28px;
}

.titre {
    background-color: greenyellow;
    padding: 5px;
    padding-left: 50px;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 2px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

.recherche-lieux {
    background-color: aquamarine;
    padding: 8px;
    padding-left: 50px;
    display: flex;
}

.logo-carte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 50px;
    border: 1px #d9d9d9 solid;
    border-radius: 15px 0px 0px 15px;
    background-color: #d9d9d9;

}

.champ-recherche {
    height: 50px;
    width: 250px;
    border: 1px #d9d9d9 solid;
    border-right: none;
}

#lieu::placeholder {
    opacity: 1;
}

.bouton-rechercher {
    height: 50px;
    width: 130px;
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
}

.logo-loupe {
    height: 50px;
    width: 50px;
    color: white;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
}

.champ-recherche, .bouton-rechercher {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
}

.barre-filtres {
    background-color: rebeccapurple;
    padding: 15px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 18px;
    padding-right: 50px;
    margin-right: 340px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barre-filtres button {
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    height: 50px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    background-color: white;
    padding: 15px;
}

.barre-filtres button:hover {
    background-color: #deebff;
}

.barre-filtres button .fa-solid {
    color: #0065FC;
}

.barre-filtres button i {
    margin-right: 10px;
}

.info {
    background-color: bisque;
    padding: 10px;
    padding-left: 50px;
}

.info i {
    border: 1px #d9d9d9 solid;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    color: #0065FC;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sous-filtre {
    padding-left: 15px;
}

.hebergements {
    margin-right: 450px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hebergements h2 {
    padding: 20px;
}

.cartes-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carte {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 190px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin-bottom: 18px;
}
.photo-hebergement {
    height: 120px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.cartes-hebergements a {
    text-decoration: none;
    color: black;
}

.etoile-bleu {
    color: #0065FC;
}

.etoile-grise {
    color: #f2f2ff;
}

.carte .texte-carte {
    padding-left: 15px;
}

.lien-plus {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
}

aside {
    background-color: #d9d9d9;
    position: absolute;
    top: 330px;
    margin-left: 980px;
    padding-right: 130px;
}

.carte-populaire {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 150px;
    width: 350px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
}

.photo-populaire {
    height: 120px;
    width: 40%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.carte-populaire a .texte-carte {
    display: flex;
}

@media screen and (max-width: 768px) {
    nav li :hover {
        border-bottom: 2px #0065fc solid;
        padding-bottom: 28px;
        border-top: none;
    }

    .bouton-rechercher {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .logo-loupe {
        display: none;
    }
}